{% extends 'base.html' %}

{% block title %}
About us
{% endblock %}

{% block body %}

<h1>Page about us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci at blanditiis corporis culpa cum cumque dolor ducimus eligendi enim eos esse, exercitationem hic iusto labore maiores molestias nisi non officia pariatur quos sed soluta tempora vel vitae. Animi asperiores assumenda blanditiis cum delectus dolore doloremque eligendi, explicabo fuga fugiat illo iste maiores molestiae molestias nisi nobis nostrum numquam odit officiis pariatur placeat quaerat quas quia sint suscipit ullam ut veniam voluptas voluptates voluptatibus. Aliquam animi architecto nobis quasi vel. Animi autem beatae eaque, eos ex, id laudantium maiores minima minus mollitia necessitatibus possimus quasi, quos repellat rerum soluta voluptate!</p>
{% endblock %}